#header.transparent  a.button{
    position: relative;
    text-decoration: none;
    /* Create the gradient text */
    color: white;
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

#header.transparent  a.button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    bottom: -2px; /* Position right below the text */
    left: 0;
    background-color: white;

    /* Animation setup: start at 0 width (scaled down) */
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
}

#header.transparent  a.button:hover::before{
    transform: scaleX(1);
}


#header.opaque a.button{
    background-image: var(--primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

#header.opaque a.button::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    bottom: -2px; /* Position right below the text */
    left: 0;
    background: var(--primary);
    /* Animation setup: start at 0 width (scaled down) */
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-in-out;
}
#header.opaque  a.button:hover::before{
    transform: scaleX(1);
}