.about p {
  transition: transform 1s ease-in-out;
}

.about p.title {
  transform: translate(-100%, 0);
}

.about p.description {
  transform: translate(150%, 0);
}

.about .show p.description,
.about .show p.title {
  transform: translate(0, 0);
}
