@import "tailwindcss";
@import "components/button/button.css";
@import "header/Header.css";
@import "hello/Hello.css";
@import "about/About.css";

:root {
  --padding-margin-mobile: 1rem;
  --primary-from: #9f64a6;
  --primary-to: #2e64ae;
  --primary: linear-gradient(
          201.03deg,
          var(--primary-from) -0.45%,
          var(--primary-to) 99.55%
  );
  --font-family: Quicksand;
  --font-size: calc(15px + 0.390625vw);
}

html{
    scroll-behavior: smooth;
}

#root{
    background: var(--primary);
    background-attachment: fixed;
}

