.clearfix:after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.affix{  
    -webkit-transition:padding 0.2 ease-out;
    -moz-transition:padding 0.2 ease-out;
    -o-transition: padding 0.2s ease-out;
    transition: padding 0.2s ease-out; 
}

.affix-top{
    background: transparent;
    border-color: transparent;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.affix-top .nav>li>a{
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    color: #fff;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
    margin-top: 15px;
    margin-right: 4px;
}

.affix-top .navbar-collapse{
    border-color: transparent;
    box-shadow: none;
}


.navbar-fixed-top.scrolled {
    background-color: rgb(34, 34, 34) !important;
    transition: background-color 200ms linear;
    font-family: "futura-pt", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    color: #fff;
    transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
    padding-top: 15px; 
  }


.navbar a:active, a:hover {
    outline: 0;
    outline-color: currentcolor;
    outline-style: none;
    outline-width: 0px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color:#9c9999 !important;
}

.logo-group{
    width: 65px;
    height: 65px;
    margin-top: 5px;
    margin-left: 4px;
}

